@page "/employees"
@using HelloBlazor.CRUD.Shared.Models;
@inject HttpClient httpClient

<h1>Employees</h1>
<p>
    <a href="/addemployee">Create New</a>
</p>

@if (!employees.Any())
{
    <p>Loading...</p>
}
else
{
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Department</th>
                <th>City</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.Name</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Department</td>
                    <td>@employee.City</td>
                    <td>
                        <a class="btn btn-sm btn-warning" href="/employees/edit/@employee.EmployeeId">Edit</a>
                        <a class="btn btn-sm btn-danger"  href="/employees/delete/@employee.EmployeeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@functions{
    List<Employee> employees = new List<Employee>();

    protected override async Task OnInitAsync()
    {
        employees = await httpClient.GetJsonAsync<List<Employee>>("/api/Employees");
    }
}